<div class="div mt-5">
  <h1 class="text-center mb-3">Sign Up</h1>
  <form
    style="margin: 0 auto; max-width: 70%"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
        <div>We'll never share your email with anyone else.</div>
      </div>
      <div class="col-6">
        <label for="" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="" class="form-label">First Name </label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          formControlName="first_name"
        />
      </div>
      <div class="col-6">
        <label for="" class="form-label">Last Name </label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          formControlName="last_name"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6">
        <label for="" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="col-6">
        <label for="" class="form-label">Password Confirmation</label>
        <input
          type="password"
          class="form-control"
          id="password_confirmation"
          formControlName="password_confirmation"
        />
      </div>
    </div>
    <div class="text-center mb-3">
      <button class="btn-primary" type="submit">Sign Up</button>
    </div>
    <div>
      <p class="text-center">Already have an account? <a>Login</a></p>
    </div>
  </form>
</div>
